@font-face {
    font-family: 'Snell';
    src: url('../../font/SnellBT-Bold.woff2') format('woff2'),
        url('../../font/SnellBT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

.banner-video {
    max-height: 90vh;
    overflow: hidden;
}
.hero-video{
    transform: scale(1.4);
    width: 100%;
}
.banner-social-div{
    position: absolute;
    right: 20px;
    bottom: 32%;
    transform: rotate(270deg);
}
.banner-social-div-two{
    position: absolute;
    right: 20px;
    bottom: 13%;
    transform: rotate(270deg);
}
.banner-social-icons{
    color: #fff;
    padding-right: 4px;
    font-size: 15px;
    font-weight: 800;
}

.banner-social-text{
    color: #fff;
    text-decoration: none;
    font-family: "Libre Baskerville";
   font-weight: 800;
   font-size: 15px;
}
.banner-social-text:hover{
    color: #fff;
}
.main-page-bg{
    background-color: #F6F4F2;  
}
.sub-headings-daimond{
    color: #006341;
    font-family: "snell";
    font-size: 85px;
    font-weight: bold;
    /* line-height: 345px; */
    text-align: center;
    position: relative;
}
.explore-content-wrapper{
    position: relative;
}
.explore-outer-text{
    font-size: 9em;
    /* font-size: 8px; */
    font-weight: 400;
    font-family: "Sorts Mill Goudy", sans-serif;
    color: #fff;
    text-align: center;
}
.daimond-section{
    padding: 30px 0px;
}
.explore-inner-text{
    font-size: 12px ;
    color: #051f34;
    font-family: "Sorts Mill Goudy", sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.explore-inner-wrapper{
    position: absolute;
    top: 37%;
    right: 0;
    /* bottom: 0; */
    left: 0;
}
.explore-content-wrapper:hover .explore-outer-text{
  color: #006341;
  transition: transform 1s ease;
  transform: translateY(-1%);

}
.explore-content-wrapper:hover .explore-inner-text{
  opacity: 50%;

}
.special-daimond-img{
    width: 63px;
    object-fit: cover;
    padding-bottom: 12px;
}
.special-daimond-img:hover{
    transform: scale(1.1);
}
.specail-daimond-wrapper{
    text-decoration: none;
    display: inline-grid;
}
.specail-daimond-text{
    font-family: "Libre Baskerville";
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    color: #2E2D3D;
    text-align: center;
}
.collection-main-head{
    position: relative;
}
.ring-head{
    position: absolute;
    left: 41%;
}
.card-child-wrapper{
    height: 100%;
    position: absolute;
    top: 0;
    background: #00000073;
    width: 100%;
}
.card-parent-wrapper{
    width: 100%;
    height: 500px;
    position: relative;
}
.card-parent-wrapper:hover .collection-card-oute{
    opacity: 0;
}
.card-parent-wrapper:hover .collection-card-inner{
    opacity: 1;
}
.collection-card-outer{
    height: 500px;
    width: 100%;
    position: relative;
}
.front-card-img{
    opacity: 90%;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.back-card-img{
    height: 500px;
    object-fit: cover; 
    width: 100%;
}
.collection-card-text{
    color: #FFFFFF;
    font-family: "Libre Baskerville";
    font-size: 35px;
    font-weight: 100;
    text-decoration: none;
    position: absolute;
    text-align: center;
    top: 47%;
    left: 0;
    right: 0;
}

.collection-card-inner {
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.flip-card-div{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
}

/* .collection-card-front {
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .collection-card-front h2{
    color: #fff;
}
.collection-card {
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
.collection-card-front {
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection-card-front h2{
    color: #fff;
}
.collection-card-back {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.collection-card:hover .collection-card-back{
    opacity: 1;
} */



.icons-card{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eee;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
}
.icon-card-text{
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 10px 0;
    line-height: 1.2em;
    text-align: center;
    font-family: "Cormorant Infant";
    text-transform: capitalize;
    color: #2e2d3d;
}
.product-deatil-wraper{
    text-align: center;
    padding: 15px 15px 15px 15px;
}
.icon-card-price{
    color: #000000;
    font-family: "Abel", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.sparkling-main-setion{
    margin: 320px 0px;
}
.sparkling-setion{
    background-color: #00634126;
    background-position: 100% 100%;
    padding: 0% 15% 0% 0%; 
}
.sparkling-side-img{
    width: 50%;
    text-align: center;
    margin: -100px 0px -100px 0px;
}
.child-heading{
    font-family: "snell";
    font-weight: bold;
    color: #2e2d3d;
    text-transform: capitalize;
    font-size: 64px;
}
.child-para{
    font-family: "Libre Baskerville";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7em;
    color: #2e2d3d;
}
.discover-side{
    margin: 0px 0px 0px -75px;
}
.child-btns{
    background-color: #FFFFFF;
    fill: #000000;
    color: #000000;
    font-family: "Karla", Sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    transition: all .3s;
    border: none;
    padding: 12px 40px;

}
.child-btns:hover{
    background-color: #006341;
    color: #FFFFFF;
}
.child-btns::after{
    content: "";
    display: block;
    height: 1px;
    width: 20px;
    background-color: #cb9274;
    transition: background-color .4s ease, width .4s ease;
    border-radius: .75px;
    position: absolute;
    margin-left: -5px;
    top: calc(50% - .5px);
    transform: translateX(-100%)
}
.glamour-img-side{
    text-align: end;
}
.glamour-section-space{
    padding-left: 68px;
}
.glamour-btn{
    margin: 0px -73px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: end;
}
.gamestone-daimond-bg{
    background-image: url("../../Assets/images/gamestone-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gameston-head{
    font-size: 70px;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: -4.33px;
    text-align: left;
}
.gameston-para{
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    line-height: 42px;
    letter-spacing: 3px;
    text-transform: capitalize;
}
.gamestone-btns{
    background-color: #006341;
    color: #FFFFFF;
    fill: #000000;
    font-family: "Karla", Sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    transition: all .3s;
    border: none;
    padding: 12px 40px;
}

.gamestone-btns::before{
    content: "";
    display: block;
    height: 1px;
    width: 20px;
    background-color: #cb9274;
    transition: background-color .4s ease, width .4s ease;
    border-radius: .75px;
    position: absolute;
    margin-left: -5px;
    top: calc(50% - .5px);
    transform: translateX(-100%)
}
.gamestone-btns:hover{
    transform: scale(1.1);
}

.gamestone-img-wrapper{
    
margin: -306px 0px -301px 0px;
padding: 0px 0px 2px 0px;
}
.gamestone-img{
    width: 576px;
}
.gamestone-img:hover{
    transform: scale(1.1);
}
.ring-slider-section{
    background-color: #00634126;
    padding: 25px 0px;
}
.slider-img-wrapper{
    margin: -70px 0px -70px 0px;
}
.slider-ring-wrapper{
    margin: -110px 0px -40px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.slider-ring-img{
    width: 380px;
    object-fit: contain;
    object-position: center center;
}
.slider-ring-detail{
    text-align: center;
    font-family: "Sorts Mill Goudy";
    font-size: 40px;
    line-height: 1.5em;
    color:  #53575f;
}
.slider-ring-description{
    text-align: center;
    font-family: "Sorts Mill Goudy";
    font-size: 20px;
    font-style: italic;
    line-height: 1.4em;
    color: #53575f;
}
.slider-btn-wrapper{
text-align: center;
}
.slider-description-wrapper{
    margin: 0% 0% 5% 0%;
    padding: 0px 0px 0px 0px;
}
.newsletter-section{
    background-color: #D1DFD7; 
    padding: 80px 0px 80px 0px;  
}
.newsletter-head{
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: 1.3px;
    text-transform: capitalize;
}
.newsletter-para{
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 17px; 
    color: #53575f;
    /* color: #2E2D3D; */
}
.subscribe-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.subcribe-input{
    background-color: #fff;
    border: 1px solid #e3dbd4;
    background-color: #fff;
    border: 1px solid #e3dbd4;
    padding: 6px 9px;
    width: 76%;
    color: #1f2124;
    font-family: 'Montserrat';
    font-size: 18px;
}
.subcribe-input::placeholder{
    color: #53575f;
    font-family: 'Montserrat';
    font-size: 18px;
}
.newsletter-btn{
    background-color: #006341;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px !important;
    font-family: "Karla";
    border: none;
    padding: 9px 27px;
}


@media(max-width:1440px){
    .banner-social-div {
        bottom: 37%;
    }
}
@media (max-width:1180px){
    .specail-daimond-text {      
        font-size: 14px;
    }
    .special-daimond-img {
        width: 56px;
     }
     .child-heading {
        font-size: 35px;
    }
    .sparkling-side-img {
        width: 100%;
     
    }
    .gameston-head {
        font-size: 47px;
        line-height: 63px;
        text-align: left;
    }
    .footer-title {    
        font-size: 53px;
    }
    .footer-social-icons-wrapper {
        margin: 20px 0px;
    }
    .icon-card-text {
        font-size: 19px;
    }
}


@media (max-width:991px){
    /* .discover-side {
        margin: 118px 0px 0px 12px;
    } */
    .glamour-btn {
       
        text-align: start;
    }
    .sparkling-main-setion {
        margin: 178px 0px;
    }
    .gamestone-img-wrapper {
        margin: -207px 0px -184px 0px;
        text-align: end;
    }
    .slider-ring-img {
        width: 227px
    }
    .slider-ring-detail {
     font-size: 28px;
    }
    .slider-ring-description {
        font-size: 17px;
    }
    .slider-ring-wrapper {
        margin: -100px 0px -40px 0px;

    }
    .nav-menu-text {
        padding: 10px 0px 0px 0px !important;
    }
    .sparkling-side-img {
        width: 71%;
      
    }
    .newsletter-head {
        font-size: 44px;

    }
    .slider-btn-wrapper {
        margin-bottom: 30px;
    }
    .slider-img-wrapper {
        margin: -38px 0px -70px 0px;
    }
  
}
@media (max-width:600px){
     .discover-side {
        margin: 118px 0px 0px 12px;
    }
    .banner-social-div {
        transform: none;
    }
    .banner-social-div-two {
        transform: none;
    }
    .sub-headings-daimond {
        font-size: 32px;
        letter-spacing: 1.67px;
        line-height: 55px;
    }
    .newsletter-para {
        font-size: 14px;
    }
    .ring-head {
        left: 33%;
        width: 27%;
    }
    .sparkling-side-img {
        margin: 6px 0px -100px 0px;
    }
    .gamestone-img-wrapper {
        margin: -100px 0px -184px 0px;
      
    }
    .sparkling-setion {
        padding: 0px;
    }
    .sparkling-main-setion {
        margin: 90px 0px;
    }
    .glamour-section-space {
        padding-left: 30px;
    }
    .child-para {
        font-size: 17px;

    }
    .gamestone-daimond-bg {
        margin: 205px 0px;
    }
    .slider-ring-wrapper {
        margin: 100px 0px -40px 0px;
    }
    .slider-btn-wrapper {
        margin-bottom: 70px;
    }
    .slider-ring-img {
        width: 70%;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .subcribe-input {
        width: 100%;
    }
    .newsletter-btn {
        width: 100%;
    }
   
    .icon-card-text {
        font-size: 16px;

    }
    .newsletter-head {
        line-height: 38px;
    }
    .special-daimond-img {
        width: 49px;
    }
}
