.custom-header-bg{
    background-color: #F6F4F2 !important;
    padding: 12px 30px;
}
.header-logo-img{
    width: 186px;
    cursor: pointer;
}
.nav-menu-text{
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000000 !important;
    padding: 0px 10px 0px 10px !important;  
}
.nav-menu-text:hover{
    color: #707070 !important;
}
.header-btn-cart-div{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 45px;
    align-items: center;
}
.booking-btn{
    font-size: 12px;
    background-color: #634F0073;
    font-family: "Libre Baskerville", Sans-serif;
    fill: #FFFFFF;
    color: #FFFFFF;
    border-style: none;
    border-radius: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}
.booking-btn:hover{
    background-color: #006341;
}
.cart-list-div{
    display: flex;
    gap: 23px;
    align-items: center;
    flex-wrap: wrap;

}
.hedaer-icons{
    font-size: 16px;
    color: #2e2d3dcc !important;
    cursor: pointer;
}
.subcribe-input:focus-visible{
    outline: none;
    border-top:1px solid #006341;
}

@media (max-width:1200px){
    .header-logo-img {
        width: 108px ;
    }
    .booking-btn {
        padding: 7px 7px 7px 7px ;
    }
    .nav-menu-text {
        font-size: 12px;
    }
    .header-btn-cart-div {
        gap: 15px ;
    }
}

@media (max-width:991px){
   
    .nav-menu-text {
        padding: 10px 0px 0px 0px !important;
    }
  
}