.products-banner{
    padding-top: 250px;
}
.our-products-section{
    padding: 50px 0px;
}
.our-products-img{
 /* width: 74%; */
}
.our-product-gallery{
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
   margin-top: 20px;
}
.gallery-img{
    width: 30%;
}
.product-detail-btn{
    color: #000000;
    background-color: #2e2d3d00;
    padding: 17px;
    border: 1px solid #d7d7d7;
    font-family: "Karla", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0px;
}
.product-detail-btn:hover{
    color: #FFF;
    background-color: #2e2d3dcc;
}
.our-product-title{
    color: #006341;
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Cormorant Infant";
}
.our-product-description{
    color: #2e2d3dcc;
    margin: 17px 0 20px 0;
    font-family: "Karla";
    font-size: 16px;
    font-weight: 400;
    line-height: 30.6px;
}
.our-product-color{
    font-weight: 700;
    text-align: left;
    margin: 0 2px;
    line-height: 2em;
    font-family: "Karla" ;
    font-size: 16px;
    line-height: 32px;
    color:  #2e2d3dcc;
}
.color-list-div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.color-boxes{
    height: 50px;
    width: 50px;
    background-color: #dbdbdb;
    border-radius: 2px;
}
.color-boxes-one{
    background-color: #dfcb9d;
}
.color-boxes-two{
    background-color: #e7b697;
}
.color-boxes-wrapper{
    border-radius: 2px;
    padding: 2px;
    border: 1px solid #a8a8a8;
    background-color: #fff;
}

/* select box css */
.standard-select-label{
    font-size: 23px;
    color: #2e2d3d;
    font-family: "Cormorant Infant";
    font-weight: 600;
    text-transform: capitalize;
}
/* .custom-select-box{
  
} */
.custom-select-box:focus{
    outline: 0;
}

.custom-select-box {
    width: 100%;
    padding: 8px 8px;
    font-size: 16px !important ;
    font-weight: 500 !important;
    color: #000000;
    line-height: 1.5;
    font-family: "Cormorant Infant";
   /* Arrow */
   appearance: none;
   background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
   background-repeat: no-repeat;
   background-position: right 0.7rem top 50%;
   background-size: 0.65rem auto;
   border: 1px solid #000;
}
