.footer-section {
    padding: 60px 0px 20px 0px;
    background-color: #f6f4f2;
}

.logo-footer-wrapper {
    text-align: center;
}

.useful-links-head {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 2px;
    font-family: "Cormorant Infant", Sans-serif;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 20px;
}

.useful-links-para {
    color: #2e2d3dcc;
    font-family: "Libre Baskerville";
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    line-height: 28px;
    text-align: left;
}

.footer-title {
    color: #00634147;
    font-family: "snell";
    font-size: 80px;
    font-weight: 600;
    text-transform: capitalize;
}

.footer-bottom-wrapper {
    padding: 0px 120px;
}

.footer-social-icons-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.footer-social-icons {
    font-size: 24px;
}
.copyright-text{
    color: #2E3031;
    font-size: 12px;
    font-weight: normal;
    font-family: "Karla";
    line-height: 25px;
    text-align: center;
    color: #2E3031;
}
.reserved-text{
    padding-left: 5px;
}

@media (max-width:1180px){
    .footer-bottom-wrapper {
        padding: 19px 10px;
    }
    .footer-title {
        font-size: 52px;
    }
    .footer-social-icons-wrapper {
        margin: 26px 0px;
    }
}
@media (max-width:600px){
    .footer-title {
        font-size: 34px;
    }
}